html,body{
	width:100%;
	height:100%;
}
#box{
	width:100%;
	height:100%;
}
#viewBoard{
	width:100%;
	height:93%;
	background: url(../images/message_bg2.png);
	/* background: #eae9a8; */
// background:#f1de78;
	/* background: #8e95b1;  */
	position: relative;

}

#viewBoard .message{
	font-size: 14px;
	line-height: 20px;
	letter-spacing:1px;
	position: absolute;
	width:210px;
	height:210px;
	top:50px;
	left:100px;
	background: rgba(179,213,103,0.7);

	box-shadow: #666 2px 1px 2px 2px;

	transform:rotate(7deg);
	-ms-transform:rotate(7deg); 	/* IE 9 */
	-moz-transform:rotate(7deg); 	/* Firefox */
	-webkit-transform:rotate(7deg); /* Safari 和 Chrome */
	-o-transform:rotate(7deg); 	/* Opera */

}

#viewBoard .message:nth-of-type(1)::after{
	content: "";
	display: block;
	width:40px;
	height:45px;
	background: url(../images/gong_black.png) no-repeat;
	background-size: 40px;
	position: absolute;
	left:80px;
	top:-30px;
	z-index:999;
}

#viewBoard .message:nth-of-type(2){
	font-size: 14px;
	line-height: 20px;
	top:40px;
	left:320px;
	background: rgba(204,208,233,0.9);
	box-shadow: #666 2px 1px 2px 2px;

	transform:rotate(-7deg);
	-ms-transform:rotate(-7deg); 	/* IE 9 */
	-moz-transform:rotate(-7deg); 	/* Firefox */
	-webkit-transform:rotate(-7deg); /* Safari 和 Chrome */
	-o-transform:rotate(-7deg); 	/* Opera */

}
#viewBoard .message:nth-of-type(2)::after{
	content: "";
	display: block;
	width:40px;
	height:45px;
	background: url(../images/gong_red.png) no-repeat;
	background-size: 30px;
	position: absolute;
	left:80px;
	top:-20px;
	z-index:999;
}

#viewBoard .message:nth-of-type(3){
	font-size: 14px;
	line-height: 20px;
	top:80px;
	left:610px;
	background: #e2c687;
	box-shadow: #666 2px 1px 2px 2px;

	transform:rotate(14deg);
	-ms-transform:rotate(14deg); 	/* IE 9 */
	-moz-transform:rotate(14deg); 	/* Firefox */
	-webkit-transform:rotate(14deg); /* Safari 和 Chrome */
	-o-transform:rotate(14deg); 	/* Opera */

}
#viewBoard .message:nth-of-type(3)::after{
	content: "";
	display: block;
	width:40px;
	height:45px;
	background: url(../images/gong_blue.png) no-repeat;
	background-size: 30px;
	position: absolute;
	left:80px;
	top:-20px;
	z-index:999;
}

#viewBoard .message:nth-of-type(4){
	font-size: 14px;
	line-height: 20px;
	top:30px;
	left:820px;
	background: #ee9f92;
	box-shadow: #666 2px 1px 2px 2px;

	transform:rotate(-14deg);
	-ms-transform:rotate(-14deg); 	/* IE 9 */
	-moz-transform:rotate(-14deg); 	/* Firefox */
	-webkit-transform:rotate(14deg); /* Safari 和 Chrome */
	-o-transform:rotate(-4deg); 	/* Opera */

}
#viewBoard .message:nth-of-type(4)::after{
	content: "";
	display: block;
	width:40px;
	height:45px;
	background: url(../images/gong_yellow.png) no-repeat;
	background-size: 30px;
	position: absolute;
	left:80px;
	top:-20px;
	z-index:999;
}

#viewBoard .message:nth-of-type(5){
	font-size: 14px;
	line-height: 20px;
	top:80px;
	left:1100px;
	background: #8bb6d9;
	box-shadow: #666 2px 1px 2px 2px;

	transform:rotate(14deg);
	-ms-transform:rotate(14deg); 	/* IE 9 */
	-moz-transform:rotate(14deg); 	/* Firefox */
	-webkit-transform:rotate(14deg); /* Safari 和 Chrome */
	-o-transform:rotate(14deg); 	/* Opera */

}
#viewBoard .message:nth-of-type(5)::after{
	content: "";
	display: block;
	width:40px;
	height:45px;
	background: url(../images/gong_green.png) no-repeat;
	background-size: 30px;
	position: absolute;
	left:80px;
	top:-20px;
	z-index:999;
}

#viewBoard .message:nth-of-type(6){
	font-size: 14px;
	line-height: 20px;
	top:280px;
	left:120px;
	background: #beeea4;
	box-shadow: #666 2px 1px 2px 2px;

	transform:rotate(14deg);
	-ms-transform:rotate(14deg); 	/* IE 9 */
	-moz-transform:rotate(14deg); 	/* Firefox */
	-webkit-transform:rotate(14deg); /* Safari 和 Chrome */
	-o-transform:rotate(14deg); 	/* Opera */

}
#viewBoard .message:nth-of-type(6)::after{
	content: "";
	display: block;
	width:40px;
	height:45px;
	background: url(../images/gong_blue.png) no-repeat;
	background-size: 30px;
	position: absolute;
	left:80px;
	top:-20px;
	z-index:999;
}

#viewBoard .message:nth-of-type(7){
	font-size: 14px;
	line-height: 20px;
	top:280px;
	left:620px;
	background: rgba(156,191,229);
	box-shadow: #666 2px 1px 2px 2px;

	transform:rotate(14deg);
	-ms-transform:rotate(14deg); 	/* IE 9 */
	-moz-transform:rotate(14deg); 	/* Firefox */
	-webkit-transform:rotate(14deg); /* Safari 和 Chrome */
	-o-transform:rotate(14deg); 	/* Opera */

}
#viewBoard .message:nth-of-type(7)::after{
	content: "";
	display: block;
	width:40px;
	height:45px;
	background: url(../images/gong_red.png) no-repeat;
	background-size: 30px;
	position: absolute;
	left:80px;
	top:-20px;
	z-index:999;
}

#viewBoard .message .title{
	padding:10px 0 0 20px;;
	font-size: 20px;
}
#viewBoard .message .content{
	padding-top: 40px;
	padding-left:10px;
	padding-right:10px;
	font-family: SimHei,SimSun;
	text-indent:29px;
}


#viewBoard .pen{
	width:200px;
	height:200px;
	background: url(../images/pen.png) no-repeat;
	background-size: 200px;
	position: absolute;
	bottom:60px;
	right:190px;

}

#viewBoard .pen .penLink{
	display: block;
	width:30px;
	height:260px;
	position: relative;
	top:-30px;
	left:85px;
	cursor: pointer;

	transform:rotate(45deg);
	-ms-transform:rotate(45deg); 	/* IE 9 */
	-moz-transform:rotate(45deg); 	/* Firefox */
	-webkit-transform:rotate(45deg); /* Safari 和 Chrome */
	-o-transform:rotate(45deg); 	/* Opera */
}

#viewBoard .pen:hover{
	animation:myfirst 0.5s;
	-moz-animation:myfirst 0.5s;
	-webkit-animation:myfirst 0.5s;
	-o-animation:myfirst 0.5s;

}

@keyframes myfirst
{
	from { }
	to {
		transform:rotate(5deg);
		-ms-transform:rotate(5deg); 	/* IE 9 */
		-moz-transform:rotate(5deg); 	/* Firefox */
		-webkit-transform:rotate(5deg); /* Safari 和 Chrome */
		-o-transform:rotate(5deg);
	}
}


#viewBoard .pen::after{
	content:"点我留言哦";
	display: inline-block;
	position: absolute;
	right:-150px;
	top:30px;
	width:200px;
	height:200px;
	padding-top: 40px;
	padding-left: 30px;
	font-size: 15px;
	background: url(../images/say.png) no-repeat;
}


#footer{
	width:100%;
	height:7%;
	background: url(../images/message_bg2.png);
}

#footer{
	text-align: center;
}

#footer a{
	color:#1b2034;
}


/* 编辑器 */
#editorBox{
	background: #FFFF;
	position: absolute;
	display: none;
	width:800px;
	height:300px;
	border-radius: 5px;
	box-shadow:  2px 2px 2px 2px #666 ;
	background: rgba(255,255,255,0.7);
}

#editorBox .close{
	height:30px;
	width:30px;
	text-align: center;
	line-height: 30px;
	position: absolute;
	right:10px;
	font-size: 29px;
	cursor: pointer;
	color:green;
	/* border:1px solid red; */
}

#editorBox .close:hover{

	animation:myclose 0.5s;
	-moz-animation:myclose 0.5s;
	-webkit-animation:myclose 0.5s;
	-o-animation:myclose 0.5s;
}


@keyframes myclose
{
	from { }
	to {
		transform:rotate(90deg);
		-ms-transform:rotate(90deg); 	/* IE 9 */
		-moz-transform:rotate(90deg); 	/* Firefox */
		-webkit-transform:rotate(90deg); /* Safari 和 Chrome */
		-o-transform:rotate(90deg);
	}
}